.feinman__subtitle {
  max-width: -moz-fit-content;
  max-width: -webkit-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-align: center;
}
