.resources__logo {
  margin-top: 80px;
  height: 38px;
  width: 270px;
  outline: 2px solid white;
  transition: .6s ease-in-out;
}

.resources__logo:hover {
  opacity: 0.5;
  outline: 2px solid #bdbdbd;
}


